@import "../sass/main.scss";

.Hero {
  .hero {
    padding-top: 240px;

    .text {
      transform: translateY(25%);
    }

    h1 {
      padding: 10px 0;
    }

    h3 {
      padding-bottom: 20px;
    }

    a {
      color: $secondColor;
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;
      width: 200px;
      transition: $transition;
      padding: 20px 0;
    }

    a:hover {
      color: rgba(255, 255, 255, 0.7);
    }

    img {
      width: 400px;
      border-radius: $borderRadius;
      display: block;
      box-shadow: 0px 0px 20px rgb(102, 46, 237, 1);
      float: right;
    }
  }
}

@media (max-width: 768px) {
  .Hero {
    .hero {
      padding: 100px 0 0;
      text-align: center;

      img {
        width: 200px;
        margin-bottom: 30px;
        float: none;
        margin: 0 auto;
      }

      .big {
        display: none;
      }

      .small {
        font-size: 12px;
        transition: $transition;
        padding: 30px 10px;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

@media (min-width: 769px) {
  .Hero .hero .big {
    display: block;
  }

  .Hero .hero .small {
    display: none;
  }
}
