:root {
  --primary-font-family: "Nunito", sans-serif;
  --primary-bg-color: linear-gradient(
    150deg,
    rgb(0, 0, 0) 15%,
    rgb(102, 46, 237) 100%
  );
  --primary-color: #423b67;
  --secondary-color: white;
  --third-color: rgb(102, 46, 237);
  --border: 0px 0px 20px rgb(102, 46, 237, 1);
  --border-radius: 20px;
}

body {
  font-family: var(--primary-font-family);
  background: var(--primary-bg-color);
  color: var(--primary-color);
}

.Navbar .navbar {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.4) !important;
  -webkit-backdrop-filter: blur(8px) !important;
  backdrop-filter: blur(8px) !important;
}

.Navbar .nav-home {
  font-size: 24px;
}

.Navbar nav li {
  padding-left: 30px;
}

.Navbar nav a {
  color: var(--primary-color) !important;
  font-size: 18px;
  font-weight: 700;
  transition: all 150ms ease-in-out !important;
}

.Navbar nav a:hover {
  color: var(--third-color) !important;
}

h2 {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 36px;
  padding-top: 110px;
}

h1 {
  font-weight: 700;
  font-size: 65px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 40px;
}

.Hero .hero {
  padding-top: 240px;
}

.Hero .hero a {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  width: 200px;
  transition: all 150ms ease-in-out;
}

.Hero .hero a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.Hero .hero img {
  width: 400px;
  border-radius: var(--border-radius);
  display: block;
  box-shadow: var(--border);
  float: right;
}

.About .about {
  margin: 120px 0 150px;
  padding: 130px 0 100px;
}

.About .about p {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

.About .about ul {
  padding: 0;
  margin: 100px 0;
}

.About .about-skills {
  background-color: rgba(0, 0, 0, 0.2) !important;
  -webkit-backdrop-filter: blur(8px) !important;
  backdrop-filter: blur(8px) !important;
  list-style: none;
  text-align: center;
  padding: 40px;
  border-radius: var(--border-radius);
  transition: all 150ms ease-in-out;
  box-shadow: 0 5px 30px rgba(102, 46, 237, 0.7);
}

.About .about-icons {
  color: rgba(255, 255, 255);
  font-size: 50px;
  display: flex;
  justify-content: space-evenly;
}

.About .icon-bootstrap {
  color: #8d51e6;
}

.About .skills-paragraph {
  color: white;
  font-size: 20px;
  padding-top: 30px;
}

.About .skills-link {
  color: var(--third-color);
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.About .skills-link:hover {
  color: rgb(125, 70, 255) !important;
}

.Projects .container-projects {
  background: white;
  font-family: Poppins, sans-serif;
  max-width: 100%;
  padding: 0 20px;
  text-align: center;
}

.Projects .projects {
  padding: 150px 0 0;
}

.Projects .title-projects {
  font-weight: 300;
  color: black;
  text-align: center;
  font-size: 48px;
  margin: 0;
  padding: 80px 0 40px;
}

.Projects .projects h2 {
  font-family: Poppins, sans-serif;
  color: black;
  font-size: 40px;
  padding: 0;
}

.Projects .projects-p {
  font-size: 20px;
  line-height: 30px;
  padding: 20px 0 0;
}

.Projects .projects-credit {
  padding-top: 20px;
  padding-bottom: 50px;
  margin: 0;
}

.Projects .projects-link {
  background: black;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.Projects .projects-link:hover {
  color: white;
  text-decoration: underline;
}

.Projects .projects img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.Contact .container-contact {
  max-width: 100%;
  background: var(--secondary-color);
  padding: 350px 0;
}

.Contact .contact {
  text-align: center;
  font-size: 40px;
}

.Contact .contact-email {
  font-size: 20px;
}

.Contact .contact-email a {
  color: var(--third-color);
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.Contact .contact-email a:hover {
  text-decoration: underline;
}

.Footer .contact-links {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}

.Footer .contact-links a {
  color: white;
  font-size: 25px;
  margin: 0 30px;
  transition: all 150ms ease-in-out;
}

.Footer .contact-links a:hover {
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 1900px) {
  .Projects .title-projects {
    font-size: 36px;
  }

  .Projects .projects h2 {
    padding: 0;
    margin: 0;
  }

  .Projects .projects-p {
    font-size: 15px;
  }

  .Projects .projects-credit {
    font-size: 10px;
  }

  .Projects .projects-link {
    display: block;
    margin: 0 auto;
    width: 150px;
  }
}

@media (max-width: 992px) {
  .Projects .projects {
    padding: 40px 0 0;
  }

  .Projects .projects h2 {
    padding-top: 20px;
  }

  .Projects .projects img {
    max-width: 60%;
  }
}

@media (max-width: 768px) {
  .Navbar .nav-home {
    font-size: 18px;
  }

  .Navbar nav li {
    padding: 0;
  }

  .Navbar nav a {
    font-size: 14px;
  }

  h2 {
    padding-top: 50px;
    font-size: 18px;
  }

  h1 {
    font-size: 32px;
  }

  h3 {
    font-size: 12px;
    margin: 0;
  }

  .Hero .hero {
    padding: 100px 0 0;
    text-align: center;
  }

  .Hero .hero img {
    width: 200px;
    margin-bottom: 30px;
    float: none;
    margin: 0 auto;
  }

  .Hero .hero .big {
    display: none;
  }

  .Hero .hero .small {
    font-size: 12px;
    transition: all 200ms ease-in-out;
    padding: 30px 10px;
    display: block;
    margin: 0 auto;
  }

  .About .about {
    margin: 0;
    padding: 100px 0;
  }

  .About .about p,
  .skills-paragraph {
    font-size: 15px;
  }

  .About .about-skills {
    padding: 30px;
    max-width: 80%;
    margin-top: 10px;
  }

  .About .about ul {
    margin: 0;
  }

  .About .about-icons {
    font-size: 25px;
  }

  .Contact .container-contact {
    padding: 250px 0;
  }

  .Contact .contact {
    font-size: 25px;
  }

  .Contact .contact-email {
    font-size: 14px;
  }

  .Footer .contact-links {
    margin: 20px 0;
  }

  .Footer .contact-links a {
    font-size: 18px;
  }
}

@media (min-width: 769px) {
  .Hero .hero .big {
    display: block;
  }

  .Hero .hero .small {
    display: none;
  }
}
