@import "./sass/main.scss";

.page-container {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}

body {
  font-family: $mainFontFamily;
  background: $bodyBgColor;
  color: $mainColor;
}

h2 {
  color: $secondColor;
  font-size: calc(1rem + 0.9vw);
  font-weight: 400;
}

h1 {
  color: $mainColor;
  font-size: calc(1rem + 3vw);
  font-weight: 700;
}

h3 {
  color: $mainColor;
  font-weight: 500;
  font-size: calc(0.8rem + 0.6vw);
}
